* {
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Navbar */
.navbar .navbar-brand {
  color: #000;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: right;
  padding: 10px;
}

/* Home */
#home {
  text-align: center;
  left: 50%;
  margin-left: -161px;
  margin-top: -80px;
  position: absolute;
  top: 50%;
}

/* Login */
#login {
  left: 50%;
  margin-left: -150px;
  margin-top: -65px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  width: 100%;
}

#login #content-wrapper {
  margin-bottom: 40px;
  margin-top: 80px;
}

/* Deployments */
#deployments .deploy-type {
  height: 15px;
}

#deployments .deploy-state-ready {
  color: #2ecc71;
}

#deployments .deploy-state-frozen {
  color: #bdc3c7;
}

#deployments .deploy-state-deploying {
  color: #f39c12;
}

#deployments .deploy-state-deployment_error {
  color: #e74c3c;
}

#deployments .dropdown {
  float: right;
}

/* Domains */
#domains .domain-verified,
#domains .domain-external {
  color: #2ecc71;
}

#domains .domain-no-verified,
#domains .domain-no-external {
  color: #bdc3c7;
}

/* radius */
.btn,
.form-control {
  border-radius: 3px;
}

/* btn-now */
.btn.btn-now {
  background-color: rgba(0,0,0,.85);
  border-color: rgba(0,0,0,0);
}
.btn.btn-now i {
  color: #fff;
}

.btn.btn-now:active,
.btn.btn-now:hover {
  background-color: #000;
  border-color: #000;
}
