* {
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Navbar */
.navbar .navbar-brand {
  color: #000;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: right;
  padding: 10px;
}

/* Home */
#home {
  margin-top: 100px;
  text-align: center;
}

#home .title {
  left: 50%;
  margin-left: -76px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

/* Login */
#login #content-wrapper {
  margin-bottom: 40px;
  margin-top: 80px;
}

/* Deployments */
#deployments .deploy-ready {
  color: #2ecc71;
}

#deployments .deploy-frozen {
  color: #bdc3c7;
}

/* Domains */
#domains .domain-verified,
#domains .domain-external {
  color: #2ecc71;
}

#domains .domain-no-verified,
#domains .domain-no-external {
  color: #bdc3c7;
}

/* radius */
.btn,
.form-control {
  border-radius: 3px;
}

/* btn-now */
.btn.btn-now {
  background-color: rgba(0,0,0,.85);
  border-color: rgba(0,0,0,0);
  color: #fff;
}
.btn.btn-now:active,
.btn.btn-now:hover {
  background-color: #000;
  border-color: #000;
}
